@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Plus+Jakarta+Sans:wght@300&display=swap");
.parrafoQuiensoy {
  font-size: 3rem;
  text-align: justify;
  width: 80rem;
  margin: 10rem; }

/* --------- Formateo general sitio --------- */
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 62.5%; }

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 4rem;
  margin-left: 2rem;
  margin-right: 2rem;
  /* --------- Logo (todas las paginas) --------- */ }
  header .logo img {
    margin-left: 5rem; }

/* --------- Menu de navegacion (todas las paginas) --------- */
.menuNavegacion {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  list-style: none;
  flex-wrap: wrap; }

.anchorMenuNavegacion {
  font-size: 2rem;
  color: black;
  font-weight: bolder;
  text-transform: uppercase;
  padding: 0.1rem 1rem;
  display: block;
  text-decoration: none; }
  .anchorMenuNavegacion:hover {
    cursor: pointer;
    border-style: solid;
    border-color: black;
    border-width: 0.2rem;
    padding: 0.1rem 1rem;
    text-decoration: none; }

.header__a--active {
  text-decoration: overline; }

/* --------- Submenu de navegacion "Trips" --------- */
.menuNavegacion li ul {
  display: none;
  position: absolute;
  list-style: none;
  font-weight: bolder;
  text-transform: uppercase;
  padding: 0.5rem 0 0 2rem; }

.anchorSubMenuNavegacion {
  color: white;
  background-color: black;
  font-weight: bold;
  font-size: 1.5rem;
  border-radius: 0.2rem;
  text-decoration: none; }

.menuNavegacion li ul li {
  margin: 0 0 0.2rem 0; }

.anchorSubMenuNavegacion:hover {
  color: white;
  text-decoration: none;
  color: black;
  background-color: white;
  border-style: solid;
  border-color: black;
  border-width: 0.2rem;
  padding: 0 0.1rem; }

.menuNavegacion li:hover > ul {
  display: block; }

/* --------- Footer (todas las paginas) --------- */
footer {
  display: flex;
  justify-content: center;
  flex-direction: column; }
  footer div {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    margin-top: 5rem; }
  footer img {
    width: 3.2rem;
    height: 3.2rem; }
    footer img:hover {
      opacity: 0.8; }
  footer span {
    text-align: center;
    font-size: medium;
    margin-bottom: 5rem; }

.tz-gallery {
  padding: 40px; }
  .tz-gallery .lightbox img {
    width: 100%;
    margin-bottom: 30px;
    transition: 0.2s ease-in-out;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2); }
    .tz-gallery .lightbox img:hover {
      transform: scale(1.05);
      box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3); }
  .tz-gallery img {
    border-radius: 4px; }

.baguetteBox-button {
  background-color: transparent !important; }

.container-fluid {
  width: 70%; }

/* --------- aboutme.html --------- */
.mainQuiensoy {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .mainQuiensoy h1 {
    margin: 5rem;
    font-size: 4rem;
    background-color: black;
    color: white;
    font-weight: bold;
    padding: 0.5rem; }
  .mainQuiensoy div {
    display: flex;
    flex-direction: row; }

.fotoQuiensoy {
  margin: 10rem;
  border-radius: 0.5rem; }

/* --------- contactme.html --------- */
.mainContact {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 7rem; }
  .mainContact form {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0.2rem;
    border-color: black; }
  .mainContact h1 {
    margin: 4rem;
    transition: 0.5s;
    font-size: 4rem;
    background-color: black;
    color: white;
    font-weight: bold;
    padding: 0.5rem; }
    .mainContact h1:hover {
      font-size: 5rem; }

.formFormatInput {
  border: 0.2rem;
  border-style: ridge;
  border-color: black;
  width: 100%;
  height: 3rem;
  margin: 0.5rem;
  padding-left: 0.5rem;
  font-size: 1.5rem; }
  .formFormatInput:focus {
    transform: scale(1.02);
    transition: 0.3s; }

.formFormatTextarea {
  border: 0.2rem;
  border-style: ridge;
  border-color: black;
  width: 100%;
  margin: 0.5rem;
  resize: none;
  padding-left: 0.5rem;
  padding-top: 0.5rem;
  font-size: 1.5rem; }
  .formFormatTextarea:focus {
    transform: scale(1.02);
    transition: 0.3s; }

.mainBoton {
  display: flex;
  flex-direction: row; }
  .mainBoton input {
    text-transform: uppercase;
    margin: 2rem 1rem 4rem 1rem;
    background-color: black;
    color: white;
    padding: 1rem;
    font-weight: bold;
    width: 10rem;
    cursor: pointer;
    font-size: 1.5rem; }
    .mainBoton input:hover {
      transform: translate(0.1rem, 0.1rem);
      opacity: 0.9; }

/* --------- formsent.html --------- */
.mainFormSent {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 17rem;
  font-size: 5rem; }
  .mainFormSent a {
    width: 15%;
    margin-top: 5rem; }
  .mainFormSent img {
    transition: 0.3s; }
    .mainFormSent img:hover {
      transform: scale(1.2); }

/* --------- index.html --------- */
.fotoPortada {
  margin-top: 10rem; }
  .fotoPortada img {
    width: 100%;
    animation: fotoPortada 2s; }

/* Animacion para fotos de portada */
@keyframes fotoPortada {
  0% {
    opacity: 0; }
  10% {
    opacity: 0.1; }
  20% {
    opacity: 0.2; }
  30% {
    opacity: 0.3; }
  40% {
    opacity: 0.4; }
  50% {
    opacity: 0.5; }
  60% {
    opacity: 0.6; }
  70% {
    opacity: 0.7; }
  80% {
    opacity: 0.8; }
  90% {
    opacity: 0.9; }
  100% {
    opacity: 1; } }

/* --------- projects.html --------- */
.mainProjects {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 7rem; }
  .mainProjects h1 {
    margin: 2rem;
    font-size: 4rem;
    background-color: black;
    color: white;
    font-weight: bold;
    padding: 0.5rem; }

/* --------- Trips (nyc2019.html/mx2022.html/eu2018.html) --------- */
.mainTrips {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 7rem; }
  .mainTrips h1 {
    margin: 5rem;
    font-size: 4rem;
    background-color: black;
    color: white;
    font-weight: bold;
    padding: 0.5rem; }

/* --------- Contenido Responsive --------- */
/* --------- (Tablet) --------- */
@media screen and (max-width: 1024px) and (min-width: 650px) {
  /* Header */
  header {
    flex-direction: column; }
    header .logo {
      margin: 0; }
      header .logo img {
        margin: 0 auto; }
  /* Menu navegacion */
  .menuNavegacion {
    margin-top: 5rem;
    padding: 0; }
    .menuNavegacion a {
      background-color: black;
      color: white;
      margin-right: 0.5rem;
      border-radius: 0.5rem;
      padding: 0.1rem 1rem;
      text-decoration: none; }
  /* aboutme.html */
  .mainQuiensoy {
    flex-direction: column; }
    .mainQuiensoy div {
      flex-direction: column; }
    .mainQuiensoy h1 {
      margin-top: 7rem; }
  .fotoQuiensoy {
    width: 50%;
    margin: 0 auto; }
  .parrafoQuiensoy {
    font-size: 2rem;
    width: auto;
    margin-bottom: 2rem;
    margin-top: 6rem; }
  /* trips */
  .mainTrips {
    margin: 5.5rem 0 2rem 0; }
    .mainTrips h1 {
      margin-bottom: 3rem;
      margin-top: 1rem;
      font-size: 4rem; }
  /* projects.html */
  .mainProjects {
    margin: 5.5rem 0 2rem 0; }
    .mainProjects h1 {
      margin-bottom: 3rem;
      margin-top: 1rem;
      font-size: 4rem; }
  /* contactme.html */
  .mainContact {
    margin: 0; }
    .mainContact h1 {
      font-size: 3rem; }
  /* formsent.html */
  .mainFormSent {
    margin-top: 5rem; }
    .mainFormSent h1 {
      font-size: 3rem;
      margin: 3rem 8rem 2rem 8rem;
      font-weight: bolder;
      text-align: center; }
  /* Galleries */
  .container-fluid {
    width: 100%; }
    .container-fluid .tz-gallery {
      padding-top: 1rem; }
      .container-fluid .tz-gallery .lightbox img {
        transition: none; }
        .container-fluid .tz-gallery .lightbox img:hover {
          transform: none;
          box-shadow: none; }
  /* Footer */
  .footerPortada {
    margin-top: 60rem; } }

/* --------- (Mobile - M/L) --------- */
@media (max-width: 550px) {
  /* Header */
  header {
    justify-content: center;
    flex-direction: column; }
    header .logo {
      margin: 0; }
      header .logo img {
        margin: 0; }
  /* Menu navegacion */
  .menuNavegacion {
    margin-top: 3rem;
    margin-bottom: 1rem;
    padding: 0; }
    .menuNavegacion a {
      margin-right: 0.2rem;
      background-color: black;
      color: white;
      border-radius: 0.5rem;
      padding-left: 0.5rem;
      padding-right: 0.5rem;
      text-decoration: none; }
  .anchorMenuNavegacion {
    font-size: 1.2rem;
    padding: 0.1rem; }
    .anchorMenuNavegacion:hover {
      font-size: 1.2rem;
      padding: 0.1rem; }
  .anchorSubMenuNavegacion {
    font-size: 1rem; }
  /* index.html */
  .fotoPortada {
    display: flex;
    margin-top: 5rem;
    margin-bottom: 3rem; }
  /* aboutme.html */
  .fotoQuiensoy {
    margin-top: 4rem;
    margin-bottom: 4rem; }
  .parrafoQuiensoy {
    width: auto;
    font-size: 2rem;
    margin: 3rem 10rem; }
  .mainQuiensoy {
    flex-direction: column; }
    .mainQuiensoy h1 {
      font-size: 2rem;
      margin-top: 5rem;
      margin-bottom: 1rem; }
    .mainQuiensoy div {
      flex-direction: column; }
  /* Trips */
  .mainTrips {
    margin: 3.5rem; }
    .mainTrips h1 {
      font-size: 2rem;
      margin-top: 1rem;
      margin-bottom: 2rem; }
  /* projects.html */
  .mainProjects {
    margin-top: 2rem; }
    .mainProjects h1 {
      font-size: 2rem;
      margin-top: 3rem; }
  /* contact.html */
  .mainContact {
    margin: 1rem 7rem; }
    .mainContact h1 {
      font-size: 2rem;
      margin: 2rem; }
      .mainContact h1:hover {
        font-size: 2.5rem; }
    .mainContact form textarea {
      height: 20rem; }
  /* formsent.html */
  .mainFormSent {
    margin-top: 2rem;
    margin-bottom: 2rem; }
    .mainFormSent h1 {
      font-size: 2rem;
      margin: 3rem 8rem 2rem 8rem;
      text-align: center; }
    .mainFormSent a {
      margin: 1rem; }
  /* Galleries */
  .container-fluid {
    width: 100%;
    margin: 0;
    padding: 0; }
    .container-fluid .tz-gallery-trips {
      padding: 1rem 0; }
    .container-fluid .tz-gallery {
      padding-top: 1rem; }
      .container-fluid .tz-gallery .lightbox img {
        transition: none; }
        .container-fluid .tz-gallery .lightbox img:hover {
          transform: none;
          box-shadow: none; }
  /* Footer */
  footer div {
    margin-top: 2rem; } }
