@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300&display=swap");

/* --------- Formateo general sitio --------- */
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Plus Jakarta Sans", sans-serif;
  text-decoration: none;
  font-size: 62.5%;
}

/* --------- Logo y menu de navegacion (todas las paginas) --------- */
header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  margin-top: 4rem;
  margin-left: 2rem;
  margin-right: 2rem;
  flex-wrap: wrap;
}

/* Logo */
header .logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

header .logo .sb {
  border-radius: 100%;
  background-color: black;
  font-size: 8rem;
  color: white;
  padding: 1.5rem;
  font-weight: bold;
}

header .logo .sb:hover {
  opacity: 0.8;
}

header .logo .nombre {
  font-size: 5rem;
  margin-left: 1rem;
  font-weight: bold;
  text-shadow: 0.1rem 0.1rem rgba(124, 124, 124, 0.199);
}

header .logo .nombre div {
  display: inline-block;
  animation: blinkingText 1s infinite;
}

@keyframes blinkingText {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* --------- Menu de navegacion --------- */
.menuNavegacion {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style: none;
  flex-wrap: wrap;
}

.anchorMenuNavegacion {
  font-size: 2rem;
  color: black;
  font-weight: bolder;
  text-transform: uppercase;
  padding: 1rem;
  transition: all 0.3s;
  display: block;
}

.anchorMenuNavegacion:hover {
  cursor: pointer;
  background-color: black;
  color: white;
  border-radius: 0.5rem;
  padding: 1rem;
}

/* --------- Submenu de navegacion "Trips" --------- */
.menuNavegacion li ul {
  display: none;
  position: absolute;
  list-style: none;
  font-weight: bolder;
  text-transform: uppercase;
  padding: 0.5rem 0 0 2rem;
}

.anchorSubMenuNavegacion {
  color: white;
  background-color: black;
  font-weight: lighter;
  font-size: 1.5rem;
  border-radius: 0.2rem;
}

.menuNavegacion li ul li {
  margin: 0 0 0.2rem 0;
}

.anchorSubMenuNavegacion:hover {
  font-weight: bolder;
}

.menuNavegacion li:hover > ul {
  display: block;
}

/* --------- Footer (todas las paginas) --------- */
footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

footer div {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  margin-top: 5rem;
}

footer img {
  width: 32px;
  height: 32px;
}

footer img:hover {
  opacity: 0.8;
}

footer span {
  text-align: center;
  font-size: small;
  margin-bottom: 5rem;
}

/* --------- Estilos por paginas --------- */
/* --------- index.html --------- */

.fotoPortada {
  width: 100%;
  margin-top: 10rem;
  margin-bottom: 10rem;
}

/* --------- aboutme.html --------- */
.mainQuiensoy {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.parrafoQuiensoy {
  font-size: 3rem;
  text-align: justify;
  width: 80rem;
  margin: 10rem;
}

.fotoQuiensoy {
  margin: 10rem;
}

/* --------- Trips (nyc2019.html/mx2022.html/eu2018.html) --------- */
.mainTrips {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 70px;
}

.mainTrips h1 {
  margin: 50px;
  font-size: 4rem;
}

.mainTripsSectionEu {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 20% 20% 20% 20% 20%;
  justify-content: center;
  align-content: center;
  margin: 2rem 10rem 6rem 10rem;
}

.mainTripsSectionEu img {
  width: 92%;
  margin: 2rem;
  transition: all 0.5s;
  opacity: 1;
  height: 80%;
}

.mainTripsSectionMx {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 25% 25% 25% 25%;
  justify-content: center;
  align-content: center;
  margin: 2rem 10rem 6rem 10rem;
}

.mainTripsSectionMx img {
  width: 92%;
  margin: 2rem;
  transition: all 0.5s;
  opacity: 1;
}

.mainTripsSectionNyc {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 25% 25% 25% 25%;
  justify-content: center;
  align-content: center;
  margin: 2rem 10rem 6rem 10rem;
}

.mainTripsSectionNyc img {
  width: 92%;
  margin: 2rem;
  transition: all 0.5s;
  opacity: 1;
}

.mainTripsSectionMx img:hover {
  transform: scale(1.1);
  opacity: 0.7;
}

.mainTripsSectionNyc img:hover {
  transform: scale(1.1);
  opacity: 0.7;
}

.mainTripsSectionEu img:hover {
  transform: scale(1.1);
  opacity: 0.7;
}

/* --------- projects.html --------- */
.mainProjects {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 7rem;
}

.mainProjects h1 {
  margin: 2rem;
  font-size: 4rem;
}

.mainProjects section {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 50% 50%;
  margin: 1rem;
}

.mainProjects img {
  width: 90%;
  margin: 2rem;
  transition: all 0.5s;
  opacity: 1;
}

.mainProjects img:hover {
  transform: scale(1.1);
  opacity: 0.7;
}

/* --------- contactme.html --------- */
.mainContact {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 7rem;
}

.mainContact form {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 0.2rem;
  border-color: black;
}

.mainContact h1 {
  margin: 4rem;
  transition: all 0.5s;
  font-size: 4rem;
}

.mainContact h1:hover {
  font-size: 5rem;
}

.formFormatInput {
  border: 0.2rem;
  border-style: ridge;
  border-color: black;
  width: 100%;
  height: 3rem;
  margin: 0.5rem;
  padding-left: 0.5rem;
  font-size: 1.5rem;
}

.formFormatTextarea {
  border: 0.2rem;
  border-style: ridge;
  border-color: black;
  width: 100%;
  margin: 0.5rem;
  resize: none;
  padding-left: 0.5rem;
  padding-top: 0.5rem;
  font-size: 1.5rem;
}

.mainBoton {
  display: flex;
  flex-direction: row;
}

.mainBoton input {
  text-transform: uppercase;
  margin: 2rem 1rem 4rem 1rem;
  background-color: black;
  color: white;
  padding: 1rem;
  font-weight: bold;
  width: 10rem;
  cursor: pointer;
  font-size: 1.5rem;
}

.mainBoton input:hover {
  opacity: 0.8;
}

/* --------- formsent.html --------- */
.mainFormSent {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 170px;
  font-size: 5rem;
}

.mainFormSent a {
  width: 15%;
  margin-top: 50px;
}

.mainFormSent img {
  transition: all 0.3s;
}

.mainFormSent img:hover {
  transform: scale(1.2);
}

/* --------- Contenido Responsive --------- */
/* --------- (Tablet) --------- */

@media (max-width: 850px) {
  .menuNavegacion {
    margin-top: 5rem;
  }

  .anchorMenuNavegacion:hover {
    background-color: white;
    color: black;
  }

  header {
    flex-direction: column;
  }
  .mainQuiensoy {
    flex-direction: column;
  }

  .parrafoQuiensoy {
    font-size: 2rem;
    width: auto;
  }

  .fotoQuiensoy {
    margin: 7rem 0 0 0;
  }

  .mainTrips {
    margin: 5.5rem 0 2rem 0;
  }

  .mainTrips h1 {
    margin: 0;
    font-size: 4rem;
  }

  .mainContact {
    margin: 0;
  }
}

/* --------- (Mobile) --------- */

@media (max-width: 475px) {
  header .logo {
    flex-direction: column;
  }

  header .logo .nombre {
    margin: 3rem 0rem 1rem 0rem;
    text-align: center;
    font-size: 3rem;
  }

  .menuNavegacion {
    margin-top: 1rem;
  }

  .anchorMenuNavegacion {
    font-size: 1.2rem;
    padding: 0.2rem;
  }

  footer div {
    margin-top: 0;
  }

  .anchorSubMenuNavegacion {
    font-size: 1rem;
  }
}
