header {
  @include flex-row-center;
  justify-content: space-between;
  margin-top: 4rem;
  margin-left: 2rem;
  margin-right: 2rem;

  /* --------- Logo (todas las paginas) --------- */

  .logo img {
    margin-left: 5rem;
  }
}

/* --------- Menu de navegacion (todas las paginas) --------- */

.menuNavegacion {
  @include flex-row-center;
  justify-content: center;
  list-style: none;
  flex-wrap: wrap;
}

.anchorMenuNavegacion {
  font-size: 2rem;
  color: $colorDefault;
  font-weight: bolder;
  text-transform: uppercase;
  padding: 0.1rem 1rem;
  display: block;
  text-decoration: none;

  &:hover {
    cursor: pointer;
    border-style: solid;
    border-color: black;
    border-width: 0.2rem;
    padding: 0.1rem 1rem;
    text-decoration: none;
  }
}

.header__a--active {
  text-decoration: overline;
}

/* --------- Submenu de navegacion "Trips" --------- */

.menuNavegacion li ul {
  display: none;
  position: absolute;
  list-style: none;
  font-weight: bolder;
  text-transform: uppercase;
  padding: 0.5rem 0 0 2rem;
}

.anchorSubMenuNavegacion {
  @include colorLetraHeader(white);
  background-color: $colorDefault;
  font-weight: bold;
  font-size: 1.5rem;
  border-radius: 0.2rem;
  text-decoration: none;
}

.menuNavegacion li ul li {
  margin: 0 0 0.2rem 0;
}

.anchorSubMenuNavegacion:hover {
  @include colorLetraHeader(white);
  text-decoration: none;
  color: black;
  background-color: white;
  border-style: solid;
  border-color: black;
  border-width: 0.2rem;
  padding: 0 0.1rem;
}

.menuNavegacion li:hover > ul {
  display: block;
}
