/* --------- Logo (todas las paginas) --------- */

header {
  @include flex-row-center;
  justify-content: space-between;
  margin-top: 4rem;
  margin-left: 2rem;
  margin-right: 2rem;
  flex-wrap: wrap;

  .logo {
    a {
      text-decoration: none;
    }

    @include flex-row-center;

    .sb {
      border-radius: 100%;
      background-color: $colorDefault;
      font-size: 8rem;
      @include colorLetraHeader(white);
      padding: 1.5rem;
      font-weight: bold;
      transition: 0.2s;

      &:hover {
        opacity: 0.8;
      }
    }

    .nombre {
      font-size: 5rem;
      margin-left: 1rem;
      font-weight: bold;
      text-shadow: 0.1rem 0.1rem rgba(124, 124, 124, 0.199);

      div {
        display: inline-block;
        animation: blinkingText 1s infinite;
      }
    }
  }
}

/* Animacion para nombre dentro del logo */

@keyframes blinkingText {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* --------- Menu de navegacion (todas las paginas) --------- */

.menuNavegacion {
  @include flex-row-center;
  justify-content: center;
  list-style: none;
  flex-wrap: wrap;
}

.anchorMenuNavegacion {
  font-size: 2rem;
  color: $colorDefault;
  font-weight: bolder;
  text-transform: uppercase;
  padding: 0.1rem 1rem;
  transition: 0.3s;
  display: block;
  text-decoration: none;

  &:hover {
    cursor: pointer;
    background-color: $colorDefault;
    @include colorLetraHeader(white);
    border-radius: 0.5rem;
    padding: 0.1rem 1rem;
    text-decoration: none;
  }
}

.header__a--active {
  text-decoration: overline;
}

/* --------- Submenu de navegacion "Trips" --------- */

.menuNavegacion li ul {
  display: none;
  position: absolute;
  list-style: none;
  font-weight: bolder;
  text-transform: uppercase;
  padding: 0.5rem 0 0 2rem;
}

.anchorSubMenuNavegacion {
  @include colorLetraHeader(white);
  background-color: $colorDefault;
  font-weight: lighter;
  font-size: 1.5rem;
  border-radius: 0.2rem;
  text-decoration: none;
}

.menuNavegacion li ul li {
  margin: 0 0 0.2rem 0;
}

.anchorSubMenuNavegacion:hover {
  font-weight: bolder;
  @include colorLetraHeader(white);
}