/* --------- formsent.html --------- */

.mainFormSent {
  @include flex-column-center;
  margin-top: 17rem;
  font-size: 5rem;

  a {
    width: 15%;
    margin-top: 5rem;
  }

  img {
    transition: 0.3s;

    &:hover {
      transform: scale(1.2);
    }
  }
}
