.mainShopping {
  @include flex-column-center;
  margin-top: 7rem;

  h1 {
    margin: 5rem;
    font-size: 4rem;
    background-color: black;
    color: white;
    font-weight: bold;
    padding: 0.5rem;
  }

  p {
    font-size: 3rem;
    background-color: black;
    color: white;
    font-weight: bold;
    padding: 0.5rem;
  }
}

.card-title {
  font-weight: bolder;
}

.card {
  margin: 2rem;
  border-color: black;
  border-width: 0.2rem;
}

.card-img-top {
  padding: 1rem;
}

.totalAmount-display {
  display: flex;
  padding: 1rem;
}

.cartDisplay {
  display: flex;
  flex-direction: column;
}

.totalAmount {
  font-size: 2rem;
  background-color: black;
  color: white;
  font-weight: bold;
  padding: 0.5rem;
}

.navbar-toggler {
  background-color: black;
  display: flex;
  align-items: center;
  border-radius: 0;
  justify-content: flex-end;
}

.bi-cart {
  color: white;
}

.offcanvas-title {
  font-size: 3rem;
  background-color: black;
  color: white;
  font-weight: bold;
  padding: 0.5rem;
}

.cartText {
  font-size: 3rem;
  background-color: black;
  color: white;
  font-weight: bold;
  padding: 0.5rem;
}

.totalCart {
  display: flex;
  flex-direction: column;
}

.btn-dark:hover {
  color: white;
  font-weight: bolder;
}

.btn-dark:focus {
  color: #f2fa70;
  font-weight: bolder;
}

.navbar {
  border-width: 0;
  border-radius: 0;
}

.toastify {
  border-style: ridge;
  border-color: #f2fa70;
  border-width: 0.2rem;
  font-size: 2rem;
}