/* --------- Trips (nyc2019.html/mx2022.html/eu2018.html) --------- */

.mainTrips {
  @include flex-column-center;
  margin-top: 7rem;

  span {
    margin: 5rem;
    font-size: 4rem;
  }
}